@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:ital,wght@0,100;1,100&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

.login-form{
    width: 100%;
    display: flex;
}

.form-text{
    width: 100%;
    text-align: center;
    padding: 3% 0;
    background: #fff;
}

.separator{
    margin: 6% 0;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.or{
    margin: 0 2%;
    font-size: 120%;
    font-weight: bolder;
}

.line{
    width: 30%;
    height: .1px;
    background: grey;
}

.info{
    
    text-align: start;
    width: 60%;
    margin: auto;
}

.info-input{
    margin: 2% 0;
    width: 100%;
    padding:2% 0;
    outline:solid 1px grey;
    border:none;
}

.remember-password{
    width: 60%;
    margin: auto;
    text-align: start;
    align-items: center;
}

.remember-check{
    margin: 0 1% 0 0;
    padding: 5%;
}

.forgot-password{
    margin: auto;
    width: 60%;
}

.login-submit{
    font-size: 100%;
    padding: 2% 30%;
    margin:5% 0;
}



@media screen and (max-width: 900px){
    .link-icon{
        font-size: 90%;
    }
    
}

