@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.header-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.2em 1em;
    z-index: 1;
    position: sticky;
    top: 0;
    background: rgb(229,229,229);
}

.header-logo-container{
    display: flex;
    align-items: center;
    width: 15%;    
}

.logo-content{
    width: 4em;
    height: 4em;
}

.logo-header{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-logo{
    font-weight: bolder;
    font-size: 2em;
  }

.header-actions{
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 1.5em;
    align-items: center;
}

.header-action-button{
    padding: 1em 2.2em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease ;
    background: #FFFF;
  }

.header-action-button:hover{
  background: rgba(0,0,0,0.6);
}

.header-action-button:hover ~ .header-action-icon{
  color:rgba(0,0,0,0.1);
}

.header-action-icon{
    font-size: 1.5em;
    color: rgba(0,0,0,0.7);
}

.nouser-actions{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nouser-action{
    width: 100%;
    text-align: center;
}

.nouser-action button{
     cursor: pointer;
      border-radius: 5px;
      width: 90%;
      border: none;
      font-size: 0.8em;
      font-weight: bolder;
      color: rgba(0,0,0,0.7);
      transition: 0.3s ease;
      padding: 0.88em 0.5em;
      background: rgb(255,255,255);
}

.icon-none{
    display: none;
}

@media screen and (max-width : 1050px ){

    .logo-content{
        width: 3.5em;
        height: 3.5em;
    }
    .header-actions{
        gap: 0.5em;
        width: 50%;
    }

    .nouser-actions{
        width: 30%;
    }

    .header-action-button{
        padding: 0.89em 1.5em;
    }

    .nouser-action button{
        font-size: 0.7em;
        padding: 1em 0;
    }
}

@media screen and ( max-width : 860px){

    .header-container{
        padding: 0.7em 0;
    }
    .logo-content{
        display: none
    }

    .header-logo-container{
        width: 10%;
        justify-content: center;
    }

    .header-actions{
        width: 60%;
    }
}

@media screen and (max-width: 720px ){
    .header-container{
        padding: 0.5em 0;
    }

    .header-logo-container{
        width: 15%;
    }

    .header-action-button{
        padding: 0.70em 0.90em;
    }

    .header-action-icon{
        font-size: 1.2em;
    }

    .header-actions{
        width: 70%;
    }

    .nouser-actions{
        width: 15%;
    }

    .nouser-action{
        display: none;
        
    }

    .icon-none{
        display: block;
    }
}

@media screen and (max-width: 430px ){
  .action-responsive{
      display: none;
  }

  .header-logo-container{
      width: 20%;
  }
}