.BodySupport{
  width: 100%;
  text-align: center;
}

.SingSuport{
  background: url("https://cdn.pixabay.com/photo/2021/12/19/12/27/road-6881040__340.jpg");
  /* background: url("https://cdn.pixabay.com/photo/2015/03/07/03/50/smoke-662747_960_720.png"); */
  width: 100%;
  height: 18em;
}

.SingSuporth1{
  color: white;
  padding-top: 2%;
  font-size: 3em;
}

.SingSuporth4{
  color: rgb(255, 255, 255);
  font-size: 2em;
}
.SingSuportDIV{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding: 2%;
}

.loginTecnical{
  font-size: 1em;
  padding: 3px;
  margin: 10px;
  border:solid 3px;
  border-color: aliceblue;
  background: transparent;
  color: white;
}

.FrecuentsQuentions{
  padding-top:3em ;

}

.FrecuentsQuentionsh4{
  font-size: 2em;
  color: rgb(78, 81, 114);
}

.Questionsspace{
  padding-top: 2.5em;
  display: flex;
  justify-content: space-evenly;
}

.Questions{
  font-size: 1.5em;
  
}

.Manualspace{
  background: rgb(229,229,229);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Manualh1{
  font-size: 12em;
}
.textSpace{
  text-align: center;
  width: 40%;
}

.ManualH4{
  font-size: 1.5em;
}

.ManualP{

}

li{
  font-size: 1.2em;
  margin: 1em;
  list-style: none;
}

.Emailspace{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Emailimg{
  max-height: 12em;
}

.Emailtext{
  width: 50%;
  font-size: 1.2em;
}

.EmailDirec{
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
}