.BodySupport{
  width: 100%;
  text-align: center;
  background-image:linear-gradient(90deg, rgba(34, 58, 52, 0.757) 50%, rgba(25, 30, 21, 0.65) 100%) , url("https://fondosmil.com/fondo/52683.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.FatherSupport{
  width: 95%;
  padding: 5em;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.ImagePersonSupport{
  height: 30em;
}

.TextArea{
  width: 50%;
  display: flex;
  align-items: center;
}


.TituloSupport{
  font-size: 2.5EM;
  }

.TextSupport{
  font-size: 1.6em;
}

.ContacSupport{
  width: 80%;
  padding: 2%;
  color: rgb(89,228,168) ;
  background : rgb(37,46,53);
  border: none;
  border-radius: 5px;
  font-size: 100%;
  font-weight: bolder;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease;
}

.OrganicerText{
  border-radius: 15px;
  background-color:rgb(229, 229, 229);
  padding: 1em;
  height: 28.5em;
  box-shadow: 1px 7px 11px 1px rgba(55,55,55,0.85);
}


.OrganicerQuestions{
  display: flex;
  height: 25em;
  width: 100%;
}

.FrecuentsQuentions{
  width: 95%;
  margin: auto;
  padding-top:3em ;
  padding-bottom: 3em;
  background-color:rgb(229, 229, 229);
  border-radius: 15px;
  box-shadow: 1px 7px 11px 1px rgba(55,55,55,0.85);
}


.FrecuentsQuentionsh4{
  font-size: 2em;
}

.Questionsspace{
  padding-top: 2.5em;
  display: flex;
  justify-content: space-evenly;
}

.Questions{
  font-size: 1.5em;
  transition: 500ms;
  cursor: pointer;
}
.Checkbox-modal{
  display: none;
}
.Checkbox-modal:checked ~ .ModalQuestions{
  opacity: 1;
  visibility: visible;
}

.Questions:hover{
  font-size: 1.8em;
  transition: 500ms;
}

.ModalQuestions{
  width: 100%;
  height: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}

.Container-ModalQuestions{
  width: 30em;
  height: 20em;
  margin: auto;
  background-color: white;
  box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.5);
  transition: all 500ms ease;
}

.Header-questions{
  height: 3em;
  width: 100%;
  padding: 2%;
  color: rgb(89,228,168) ;
  background : rgb(37,46,53);
  border: none;
  font-size: 100%;
  font-weight: bolder;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-between;
}

.Close-questions{
  cursor: pointer;
} 


.Contenido-Modal-Questions{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Contenido-Modal-QuestionsP{
  align-content: justify;
  font-size: 19px;
}