.cards-content{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em 10%;
    gap: 1em;
    background: rgba(0,0,0,0.2);
    align-items: center;
}

@media screen and ( max-width : 750px ){
    .cards-content{
        padding: 1em 0.5em;
    }
}