.Modal{
    position: fixed;
    top: 2;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#checkM:checked ~ .Modal{
    opacity: 1;
    visibility: visible;
}
.popup{
    cursor: pointer;
    background-color: aqua;
    padding: 1em;

}

#checkM{
    display: none;
}
