.footer-container{
    width: 100%;
    height: auto;
    padding: 1% 0;
    outline: 1px solid black;
}

.footer-links{
    width: 80%;
    display: flex;
    margin: 0  auto;
    text-align: center;
    justify-content: center;
}

.icon-links{
    width: 40%;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
}

.redirect{
    margin:0 5%;
}

.icon{
    font-size: 5vh;
}

.footer-info{
    width: 50%;
    margin: 1% auto;
    text-align: center;
}

.line-footer{
    width: 65%;
    height: .1px;
    margin: 1% auto;
    background: grey;
}

.copyright{
    width: 50%;
    margin: 1% auto;
    text-align: center;
}

.icon-link{
    width: 6%;
}

.footer-text{
    margin: 1% 0;
}