.forgot-password-container{
    outline: solid 1px red;
    width: 35%;
    padding: 3% 4% 4% 4%;
    
}

.body-container{
    width: 100%;
    height: 100vh;
    outline: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content:start;
    width: 100%;
    gap: 1%;
}

.forgot-title{
    margin: 4% 0;
    width: 50%;
}


.email-put{
    width: 100%;
    border: none;
    border-bottom: .1px solid grey;
    padding: 1% 2%;
    outline: none;
}

.create-account{
    display: flex;
    gap: 1%;
    margin: 2% 0;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: end;
}

.send-email{
    padding: 2% 7%;
    margin: 7% 0 0 auto;

}