@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Palette+Mosaic&display=swap');

.register-footer-container{
    width: 100%;
    background: rgba(35,35,35,0.95);
    text-align: center;
    padding: 1% 0;
}

.footer-icons{
    width: 15%;
    margin: .9% auto;
    display: flex;
    justify-content: space-around;
}

.footer-icon{
    background: rgba(15,15,15,0.70);
    font-size: 170%;
    border-radius: 250px;
    padding: 10px;
    color: #FFFFFF;
}

.footer-title{
    letter-spacing: 3px;
    font-family: 'Pacifico', cursive;
    color: #FFFFFF;
    font-size: 1.5em;
}

.footer-relinks{
    display: flex;
    width: 17%;
    justify-content: space-around;
    margin: auto;
    font-size: 90%;
    color: rgba(154,204,207,1);
}

