.banner-about-container{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(90deg, rgba(6, 6, 6, 0.45) 20%, rgba(18, 19, 17, 0) 100%),url("../../../images/grupo.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}